/* Reset CSS */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Variables */

:root{
    --color-primary:#6366f1;
    --color-secondary:#8b5cf6;
    --color-dark:#1e293b;
    --color-light:#f8fafc;
    --color-text:#334155;

    --font-main:'Segoe UI', sans-serif;
}

body{
    font-family:var(--font-main);
    color:var(--color-text);
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 40px;
    position:sticky;
    top:0;

    background:white;
    z-index:1000;
}
nav a{
    text-decoration:none;
    color:var(--color-text);

    margin-left:20px;

    font-weight:500;
}
nav a:hover{
    color:var(--color-primary);
}
.hero{
    min-height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    background:
    linear-gradient(
        135deg,
        var(--color-primary),
        var(--color-secondary)
    );

    color:white;
}
.cta-button{
    display:inline-block;

    margin-top:20px;

    padding:12px 24px;

    background:white;

    color:var(--color-primary);

    text-decoration:none;

    border-radius:8px;

    transition:0.3s;

    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}
.cta-button:hover{
    transform:scale(1.05);
}
.logo{
    font-size:1.3rem;
    font-weight:bold;
}
.hero h1{
    font-size:3rem;
}